html{
	background:url('backgrounds/1.jpg') no-repeat center center;
	min-height:100%;
	background-size:cover;
}
body {
	text-align:center;
	margin: auto;
	min-height:100%;
}
h1 {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	text-shadow: 0 1px 4px rgba(0,0,0,.2);
	color: #fff;
}
.textbox { 
	width: 305px;
	height: 42px;
	margin-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	background: rgba(45,45,45,.15);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid rgba(255,255,255,.15);
	-moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	color: #fff;
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
} 
.button { 
	width: 337px;
	height: 42px;
	margin-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	background: rgba(45,45,45,.5);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid rgba(255,255,255,.15);
	color: #fff;
} 
.textbox:focus { 
    outline: none; 
}
